<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TaskManager.Properties.Settings>
            <setting name="baza" serializeAs="String">
                <value>zadania</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="haslo" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="adres" serializeAs="String">
                <value>HACKER\lokalna_baza</value>
            </setting>
            <setting name="login_uzytkownika" serializeAs="String">
                <value>marek</value>
            </setting>
            <setting name="imie_uzytkownika" serializeAs="String">
                <value>Marek</value>
            </setting>
            <setting name="nazwisko_uzytkownika" serializeAs="String">
                <value>Bar</value>
            </setting>
        </TaskManager.Properties.Settings>
    </userSettings>
</configuration>